* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: #451d04;
}

* li {
    list-style: none;
}

body {
    background-color: #ffffff;
}

Header {
    background: linear-gradient(to bottom, #ffaf65 0%, #ffdcd1 100%);
    padding: 20px 0;
    height: 70px;
    box-shadow: 0 10px 5px #c8bdb5b9;
}

.barnav-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    font-weight: 100;
}

nav ul {
    display: flex;
}

nav ul li {
    font-family: 'Fredoka One', cursive;
    font-size: 1.2rem;
    margin-right: 25px;
    font-weight: 100;
}

.bar {
    display: none;
}

.fa-bars {
    font-size: 1.4rem;
}

@media screen and (max-width:700px) {
    .bar {
        display: block;
    }

    nav {
        position: absolute;
        max-width: 100%;
        background: linear-gradient(to bottom, #fdb46f 0%, #ffd5c9 100%);
        margin-top: 0px;
        left: -1%;
        border-radius: 10px;
        overflow: hidden;
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        padding: 2vmax 3.5vw;
        margin: 0;
        font-size: 3vw;
    }

    nav ul li:hover {
        background-color: #eee;
    }

    .show {
        display: flex;
    }
}

@media screen and (max-width: 470px) {
    .logo-name {
        display: none;
    }
}

:root {
    scroll-behavior: smooth;
}

header {
    height: 70px;
    background: linear-gradient(to bottom, #ffaf65 0%, #ffdcd1 100%)
}

.align-items-center {
    align-items: center !important;
}

.head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 50px;
    line-height: 40px;
    overflow: hidden;
    padding: 30px 0;
    text-align: center;
    background-color: #eee;
    color: var(--color-secondary);
    background: linear-gradient(to bottom, #c8bdb5 0%, #eee 10%);
}

.fw-light {
    text-shadow: 0px 1px 3px #37373f;
}

.main-content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.img-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    margin: 0 auto;
    justify-content: center;
}

.img {
    padding: 0;
}

.about-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    transition: 0.5s;
    border-radius: 5px;
}

.about-img:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.05);
}

.text {
    display: block;
    max-width: 600px;
    min-height: 341.513px;
    font-size: larger;
    border: 5px solid rgb(163, 9, 9);
    padding: 20px;
    height: 100%;
    line-height: 35px;
    border-radius: 5px;
}

.caption {
    text-indent: 40px;
    margin-top: 10px;
}

button:hover,
a:hover {
    opacity: 0.7;
}

:root {
    --color-default: #212529;
    --color-primary: #ce1212;
    --color-secondary: #37373f;
}

:root {
    --font-default: 'Helvetica', sans-serif;
    --font-primary: 'Georgia', serif;
    --font-secondary: "Inter", sans-serif;
}

:root {
    scroll-behavior: smooth;
}