* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: #451d04;
}

* li {
    list-style: none;
}

body {
    /*background-color: #ffffff;*/
    background: rgb(201, 187, 180);
        background: linear-gradient(90deg, rgba(201, 187, 180, 0.75) 0%, rgba(255, 255, 255, 1) 20%, rgba(253, 252, 252, 1) 80%, rgba(201, 187, 180, 0.75) 100%);
}

Header {
    background: linear-gradient(to bottom, #ffaf65 0%, #ffdcd1 100%);
    padding: 20px 0;
    height: 70px;
}

.barnav-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes myAnimi {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

.icon1 {
    position: absolute;
    width: 40px;
    margin-top: -30px;
    margin-left: -25PX;
    padding-top: 20px;
    animation: myAnimi 5s cubic-bezier(0.45, 0, 0.55, 1) 0s infinite normal forwards;
}

.logo a {
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    font-weight: 100;
    padding-left: 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    font-family: 'Fredoka One', cursive;
    font-size: 1.2rem;
    margin-right: 25px;
    font-weight: 100;
}

.bar {
    display: none;
}

.fa-bars {
    font-size: 1.4rem;
}

@media screen and (max-width:700px) {
    .bar {
        display: block;
    }

    nav {
        position: absolute;
        max-width: 100%;
        background: linear-gradient(to bottom, #fdb46f 0%, #ffd5c9 100%);
        margin-top: 0px;
        left: -1%;
        border-radius: 10px;
        overflow: hidden;
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        padding: 2.2vmax 3.5vw;
        margin: 0;
        font-size: 3vw;
    }

    nav ul li:hover {
        background-color: #eee;
    }

    .show {
        display: flex;
    }
}

@media screen and (max-width: 440px) {
    .logo-name {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 380px) {
    .logo-name {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 300px) {
    .logo-name {
        display: none;
    }
}

.align-items-center {
    align-items: center !important;
}

.head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 50px;
    line-height: 40px;
    overflow: hidden;
    padding: 30px 0;
    text-align: center;
    background-color: #eee;
    color: #37373f;
    background: linear-gradient(to bottom, #c8bdb5 0%, #eee 10%);
    animation: myAnim 1s cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal none;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hc {
    animation: myAnim 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.5s 1 normal forwards;
}

.fw-light {
    text-shadow: 0px 1px 3px #37373f;
    z-index: 2;
}

.gif3 {
    width: 90%;
    max-width: 100px;
    position: absolute;
    margin-top: -10px;
    right: 1%;
    z-index: 1;
}

@keyframes myAnim3 {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

.gif4 {
    max-width: 100px;
    position: absolute;
    margin-top: -10px;
    left: 1%;
    animation: myAnim3 4s ease 0s infinite normal forwards;
}

.promocafe {
    padding-bottom: 20px;
}

@keyframes myAnim2 {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-cafe {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 34.375rem));
    grid-gap: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #848688;
    max-width: 75%;
    gap: -20px;
    padding: 5px 5px 15px 5px;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: center;
    font-family: 'mitr', sans-serif;
    animation: myAnim2 1s ease-out 1.5s 1 normal backwards;
}

.container-cafe>div {
    background: #fff;
}

@media screen and (max-width: 1490px) {
    .container-cafe {
        align-content: center;
        align-self: center;
    }
}

/*ปรับรูป*/
.container-img {
    padding: 3.5% 0px 0px 0;
    width: 100%;
    height: 290;
    margin: 0 auto;
}

.cafe-img {
    margin-left: 3%;
    width: 95%;
    max-height: 300px;
    min-height: 170px;
    border-radius: 20px;
    box-shadow: 0 4px 4px #848688;
    object-fit: cover;
}

/*ปรับข้อความ*/
.container-name {
    padding: 3.5% 0px 0px 3%;
    width: 100%;
    margin: 0 auto;
}

.cafe-name {
    border-radius: 20px;
    font-size: 2rem;
    width: 100%;
    line-height: 2.5rem;
}

.caption {
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 100;
}

.btn-cafe {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    color: rgb(64, 64, 64);
    background: blanchedalmond;
    box-shadow: 0 4px 4px #c7cacd;
    display: flex;
    width: fit-content;
    margin-top: 50px;
}

.btn-cafe:hover {
    transform: translateY(-10px);
    background-color: rgb(64, 64, 64);
    color: blanchedalmond;
}

.UP {
    font-size: 1.5vmax;
    padding: 5px;
    font-family: 'mitr', sans-serif;
    margin: auto;
    max-width: 220px;
    height: 1fr;
    margin-top: 2rem;
    margin-bottom: -20px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(to top, #fdb46f 0%, #ffd5c9 100%);
    transition: 0.5s;
}
.UPP{
    color: rgb(64, 64, 64);
    transition: 0.5s;
}

.UP:hover {
    transform: scale(1.2);
}

.UPP:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}

/*button:hover,
a:hover {
    opacity: 0.7;
}*/

:root {
    --color-default: #212529;
    --color-primary: #ce1212;
    --color-secondary: #37373f;
}

:root {
    --font-default: 'Helvetica', sans-serif;
    --font-primary: 'Georgia', serif;
    --font-secondary: "Inter", sans-serif;
}

:root {
    scroll-behavior: smooth;
}