* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: #451d04;
}

* li {
    list-style: none;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 30px;
}

Header {
    background-color: #ffb3b3;
    padding: 20px 0;
    border-right-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.logo a {
    font-family: var(--font-secondary);
    font-size: 24px;
    font-weight: 700;
}

@media screen and (max-width: 660px) {
    .logo a {
        display: none;
    }
}

nav ul {
    display: flex;
}

nav ul li {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    margin-right: 25px;
    font-weight: 700;
}

.bar {
    display: none;
}

@media screen and (max-width: 475px) {
    .bar {
        display: block;
    }
}

nav {
    padding: absolute;
    width: 100%;

}

:root {
    scroll-behavior: smooth;
}

header {
    height: 70px;
    background: linear-gradient(to bottom, #ffaf65 0%, #ffdcd1 100%)
}

.align-items-center {
    align-items: center !important;
}

.head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 50px;
    line-height: 40px;
    overflow: hidden;
    padding: 30px 0;
    text-align: center;
    background-color: #eee;
    color: var(--color-secondary);
    background: linear-gradient(to bottom, #c8bdb5 0%, #eee 10%);
}

.fw-light {
    text-shadow: 0px 1px 3px #37373f;
}

.Cardsec {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.profile{
    border-radius: 10px 10px 0 0;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 30px;
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: center;
    font-family: arial;
    transition: 0.5s;
    border-radius: 10px     ;
}

.card:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.card-caption {
    padding-top: 1rem;
    line-height: 1.5;
    font-family: mitr, sans-serif;
}
.title1{
    font-size: 1.3rem;
    color: rgb(163, 9, 9);
    margin-bottom: 0.75rem;
}
.title {
    color: grey;
    font-size: 18px;
}

.fa {
    color: #000;
}

button {
    border-radius: 0px 0px 10px 10px;
    border: none;
    outline: 0;
    display: inline;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover,
a:hover {
    opacity: 0.7;
}

:root {
    --color-default: #212529;
    --color-primary: #ce1212;
    --color-secondary: #37373f;
}

:root {
    --font-default: 'Helvetica', sans-serif;
    --font-primary: 'Georgia', serif;
    --font-secondary: "Inter", sans-serif;
}