* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: #451d04;
}

* li {
    list-style: none;
}

body {
    background-image: url(รูป/fix1-blurry-gradient-haikei.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

Header {
    background: linear-gradient(to bottom, #ffaf65 0%, #ffdcd1 100%);
    padding: 20px 0;
    height: 70px;
    box-shadow: 1px 1px 15px 4px rgba(93, 93, 93, 0.59);
    z-index: 1;
}

.barnav-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    font-weight: 100;
}

nav ul {
    display: flex;
}

nav ul li {
    font-family: 'Fredoka One', cursive;
    font-size: 1.2rem;
    margin-right: 25px;
    font-weight: 100;
}

.bar {
    display: none;
}

.fa-bars {
    font-size: 1.4rem;
}

@media screen and (max-width:700px) {
    .bar {
        display: block;
    }

    nav {
        position: absolute;
        max-width: 100%;
        background: linear-gradient(to bottom, #fdb46f 0%, #ffd5c9 100%);
        margin-top: 0px;
        left: -1%;
        border-radius: 10px;
        overflow: hidden;
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        padding: 2vmax 3.5vw;
        margin: 0;
        font-size: 3vw;
    }

    nav ul li:hover {
        background-color: #eee;
    }

    .show {
        display: flex;
    }
}

@media screen and (max-width: 430px) {
    .logo-name {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 370px) {
    .logo-name {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 300px) {
    .logo-name {
        display: none;
    }
}

button:hover,
a:hover {
    opacity: 0.7;
}

/*.custom-shape-divider-top-1676050396 {
    position: absolute;
    top: 1000;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1676050396 svg {
    position: relative;
    display: block;
    width: calc(203% + 1.3px);
    height: 62px;
}

.custom-shape-divider-top-1676050396 .shape-fill {
    fill: #FFFFFF;
}*/

.sec-name{
justify-items: center;
}

.head1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vmin;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(135deg,
                hsl(0deg 0% 100%) 0%,
                hsl(22deg 31% 85%) 72%,
                hsl(26deg 39% 76%) 88%,
                hsl(33deg 51% 70%) 100%);
    color: #37373f;
    width: 90%;
    padding: 7% 5%;
    margin-top: 2.5%;
    margin-left: 5%;
    border-radius: 9vmax 25px 100px;
    line-height: 180%;
    min-height: 100px;
    display: flex;
}

h1 {
    z-index: 1;
}
h1 span{
    font-size: 4.5vmin;
    color: #7a7a7abc;
}
.pos-img{
    width: 50%;
}

.p-img{
    display: flex;
    position: absolute;
    width: 25%;
    right: 3%;
    margin-top: -4%;
}

.btn{
    text-align: center;
}

.btn-cafe {
    font-family: 'mitr', sans-serif;
    font-weight: 800;
    font-size: 1.5vmax;
    display: inline-block;
    letter-spacing: 1px;
    padding: 12px 36px;
    margin-top: -10%;
    border-radius: 50px;
    transition: 0.5s;
    color: rgb(64, 64, 64);
    background-image: linear-gradient(50deg,
                hsl(0deg 0% 100%) 0%,
                hsl(22deg 31% 85%) 46%,
                hsl(26deg 39% 76%) 72%,
                hsl(33deg 51% 70%) 100%);
    box-shadow: 0 4px 4px #c7cacd;
}

.caption{
    font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.5vmax;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        background-image: linear-gradient(45deg,
                hsl(0deg 0% 100%) 0%,
                hsl(22deg 31% 85%) 72%,
                hsl(26deg 39% 76%) 88%,
                hsl(33deg 51% 70%) 100%);
        color: #37373f;
        width: 90%;
        padding: 5% 5%;
        margin-top: 2.5%;
        margin-left: 5%;
        border-radius: 25px 25px 25px 9vmax ;
        line-height: 180%;
        min-height: 120px;
        max-height: 250px;
        display: flex;
}

.ameame{
    
}

.ame{
    margin-top: 3rem;
    max-height: 250px;
}

@media screen and (min-width: 1000px) {
    .ame {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .ame {
        height: 5%;
        display: flex;
        flex-wrap: nowrap;
    }
}
/*.custom-shape-divider-bottom-1676051664 {
    position: absolute ;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1676051664 svg {
    position: relative;
    display: block;
    width: calc(203% + 1.3px);
    height: 62px;
}

.custom-shape-divider-bottom-1676051664 .shape-fill {
    fill: #ffffff;
}*/

:root {
    --color-default: #212529;
    --color-primary: #ce1212;
    --color-secondary: #37373f;
}

:root {
    --font-default: 'Helvetica', sans-serif;
    --font-primary: 'Georgia', serif;
    --font-secondary: "Inter", sans-serif;
}

:root {
    scroll-behavior: smooth;
}