* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: #4c4c51;
}

* li {
    list-style: none;
}

body {
    background-color: #ffdec1;
    background-color: #ffffff;
   /* background: rgb(255, 231, 208);
    background: linear-gradient(0deg, rgba(255, 231, 208, 1) 52%, rgba(255, 255, 255, 1) 96%);*/
    /*background: linear-gradient(45deg, rgba(255,206,160,1) 0%, rgba(255,255,255,1) 50%, rgba(255,206,160,1) 100%);*/
    /*background: linear-gradient(to bottom, #ffffff 40%, #dfa95e 100%)*/
}

Header {
    background: linear-gradient(to bottom, #ffaf65 0%, #ffdcd1 100%);
    padding: 20px 0;
    height: 70px;
    box-shadow: 0 10px 5px #c8bdb5b9;
}

.nav-text {
    color: #451d04;
}

.barnav-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon1 {
    position: absolute;
    width: 40px;
    margin-top: -30px;
    margin-left: -25PX;
    padding-top: 20px;
}

.logo a {
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    font-weight: 100;
    padding-left: 20px;
    color: #451d04;
}

nav ul {
    display: flex;
}

nav ul li {
    font-family: 'Fredoka One', cursive;
    font-size: 1.2rem;
    margin-right: 25px;
    font-weight: 100;
}

.bar {
    display: none;
}

.fa-bars {
    font-size: 1.4rem;
}

@media screen and (max-width:700px) {
    .bar {
        display: block;
    }

    nav {
        position: absolute;
        max-width: 100%;
        background: linear-gradient(to bottom, #fdb46f 0%, #ffd5c9 100%);
        margin-top: 0px;
        left: -1%;
        border-radius: 10px;
        overflow: hidden;
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        padding: 2vmax 3.5vw;
        margin: 0;
        font-size: 3vw;
    }

    nav ul li:hover {
        background-color: #eee;
    }

    .show {
        display: flex;
    }
}

@media screen and (max-width: 430px) {
    .logo-name {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 370px) {
    .logo-name {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 300px) {
    .logo-name {
        display: none;
    }
}

.align-items-center {
    align-items: center !important;
}

.head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 50px;
    line-height: 40px;
    overflow: hidden;
    padding: 30px 0;
    text-align: center;
    color: var(--color-secondary);
    background: linear-gradient(to bottom, #c8bdb5 0%, rgb(250, 250, 250) 10%);
}

@keyframes myAnim0 {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hc {
    animation: myAnim0 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 normal forwards;
}

.fw-light {
    text-shadow: 0px 1px 3px #37373f;
}

.lead-text-muted {
    font-family: 'mitr', sans-serif;
}

.img-container {
    display: block;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

}
 
@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    animation: myAnim 1s cubic-bezier(0.45, 0, 0.55, 1) 0.5s 1 normal backwards;
}

.mySlides img {
    width: 100%;
    max-height: 500px;
    min-height: 10px;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #606264;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    /*width: auto;*/
    margin-top: -40px;
    padding: 1vmax;
    color: rgb(42, 42, 42);
    font-weight: bold;
    font-size: 2vmax;
    transition: 0.6s ease;
    border-radius: 0 10px 10px 0;
    user-select: none;
    background-color: #d1d1d1;
    opacity: 0.5;
}

.next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    font-family: mitr, sans-serif;
    margin-top: -2.5rem;
    color: #ffffff;
    text-shadow: 0px 1px 5px #000000;
    font-size: 1.75vmax;
    position: absolute;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*ส่วนของรายละเอียด*/
.details {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'mitr', sans-serif;

}

.text-box-1 {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    width: 63rem;
    border: 5px solid #eee;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #b1b5b6;
    animation: myAnim 1s cubic-bezier(0.45, 0, 0.55, 1) 1s 1 normal backwards;
    /*background: linear-gradient(0deg, rgba(255,231,208,1) 80px, rgba(255,255,255,1) 80px);*/
    /*border: 5px solid rgb(163, 9, 9);*/
}

.text-box-2 {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    width: 63rem;
    border: 5px solid #eee;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #b1b5b6;
    animation: myAnim 1s cubic-bezier(0.45, 0, 0.55, 1) 1.5s 1 normal backwards;
    /*background: linear-gradient(0deg, rgba(255,231,208,1) 88%, rgba(255,255,255,1) 88%);*/
    /*border: 5px solid rgb(163, 9, 9);*/
}

.dd {
    color: #4c4c5100;

}

.icon {
    color: #4c4c51;
    font-size: 2rem;
    transition: 0.5s;
}

.icon-2 {
    color: #4c4c51;
    font-size: 2.5rem;
    transition: 0.5s;
}

.h11 {
    margin-top: -1.2rem;
    margin-bottom: 1rem;
    margin-left: -2rem;
    color: #37373f;
    font-size: 1.5rem;
    background-color: #eee;;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 20px;

}

h1 {
    color: #37373f;
}

h2 {
    font-size: 1.35rem;
    color: #37373f;
}

p {
    color: #4c4c51;
    font-size: 1.25rem;
    margin-right: 5px;
}

.text-box-3 {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 0.5rem;
    width: 63rem;
    border: 5px solid #eee;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #b1b5b6;
    animation: myAnim 1s cubic-bezier(0.45, 0, 0.55, 1) 2s 1 normal backwards;
    /*background: linear-gradient(0deg, rgba(255,231,208,1) 88%, rgba(255,255,255,1) 88%);*/
    /*border: 5px solid rgb(163, 9, 9);*/
}

.h-3 {
    margin-top: -1.2rem;
    margin-bottom: 1rem;
    color: #37373f;
    font-size: 1.5rem;
    background-color: #eee;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 20px;
}

.album {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
}

.album-img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.album-img:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.05);
}

button:hover,
a:hover {
    opacity: 0.7;
}

:root {
    --color-default: #212529;
    --color-primary: #ce1212;
    --color-secondary: #37373f;
}

:root {
    --font-default: 'Helvetica', sans-serif;
    --font-primary: 'Georgia', serif;
    --font-secondary: "Inter", sans-serif;
}

:root {
    scroll-behavior: smooth;
}

/*ตอนไหนจะแล้วแล้ว*/